<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>billmanager</title>
    <% if (htmlWebpackPlugin.options.appModules) { %>
      <!-- Add `app/node_modules` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.appModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
        <div style="-webkit-app-region: drag; width: 100vw; height: 20px; position: fixed;"></div>
        <div id="app" style="-webkit-app-region: no-drag;"></div>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
